<main
  class="fixed inset-0 flex flex-col items-center justify-center bg-black/50 z-50 dark:text-white text-text"
>
  <section
    class="bg-lightText dark:bg-gray-800 p-6 rounded-lg w-[60%] h-fit shadow-lg relative flex flex-col"
  >
    <!-- Botón cerrar -->
    <button
      (click)="close()"
      class="absolute top-4 right-4 text-error-500 hover:text-error-700 cursor-pointer text-2xl transition"
    >
      ✕
    </button>

    <h2 class="text-xl font-semibold mb-4">
      Perfil de {{ user().name }} {{ user().last_name ?? "" }}
    </h2>

    <section class="flex gap-4">
      <!-- IMAGEN IZQUIERDA-->
      <article class="flex-shrink-0 w-[260px]">
        <img
          [src]="
            user().avatar ? user().avatar : 'assets/images/user-default.avif'
          "
          [alt]="`${user().email} Avatar`"
          class="rounded-3xl border-2 border-secondary-500 w-full object-cover aspect-square"
        />
      </article>

      <!-- INPUTS DERECHA -->
      <section class="flex-1 flex flex-col gap-4">
        <!-- 1 FILA -->
        <section class="flex gap-4">
          <article class="flex-1">
            <label for="nombre" class="block mb-2 text-sm font-medium"
              >Nombre</label
            >
            <input
              id="nombre"
              type="text"
              readonly
              [value]="user().name"
              class="bg-gray-50 border border-gray-300 text-text rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-lightText dark:focus:border-secondary-500"
            />
          </article>
          <article class="flex-1">
            <label for="apellidos" class="block mb-2 text-sm font-medium"
              >Apellidos</label
            >
            <input
              id="apellidos"
              type="text"
              [value]="user().last_name ?? ''"
              class="bg-gray-50 border border-gray-300 text-text rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            />
          </article>
        </section>

        <!-- 2 FILA -->
        <section class="flex gap-4">
          <article class="flex-1">
            <label for="email" class="block mb-2 text-sm font-medium"
              >Correo electrónico</label
            >
            <input
              id="email"
              type="text"
              readonly
              [value]="user().email"
              class="bg-gray-50 border border-gray-300 text-text rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
            />
          </article>
          <article class="flex-1">
            <label for="role" class="block mb-2 text-sm font-medium"
              >Teléfono</label
            >
            <input
              id="role"
              type="text"
              readonly
              [value]="user().phone"
              class="bg-gray-50 border border-gray-300 text-text rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
            />
          </article>
        </section>

        <!-- 3 FILA -->
        <section class="flex gap-4">
          <article class="flex-1">
            <label for="email" class="block mb-2 text-sm font-medium"
              >Documento Nacional de Identidad (DNI)</label
            >
            <input
              id="email"
              type="text"
              readonly
              [value]="user().dni"
              class="bg-gray-50 border border-gray-300 text-text rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
            />
          </article>
          <article class="flex-1">
            <label for="role" class="block mb-2 text-sm font-medium"
              >Género</label
            >
            <input
              id="role"
              type="text"
              readonly
              [value]="user().gender"
              class="bg-gray-50 border border-gray-300 text-text rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
            />
          </article>
        </section>

        <!-- 4 FILA -->
        <section class="flex gap-4 mb-5">
          <article class="flex-1/2">
            <div class="">
              <label for="created_at" class="block mb-2 text-sm font-medium"
                >Fecha de nacimiento</label
              >
              <input
                id="created_at"
                type="text"
                readonly
                [value]="user().birth_date | date : 'dd/MM/yyyy'"
                class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
              />
            </div>

            <label for="email" class="block mb-2 text-sm font-medium"
              >Estado</label
            >
            <input
              type="checkbox"
              [checked]="user().is_active"
              class="toggle border-error-600 bg-error-500 text-error-800 checked:border-success-800 checked:bg-success-500 checked:text-success-800"
            />
          </article>
          <article class="flex-1/2">
            <label for="role" class="block mb-2 text-sm font-medium"
              >Tipo de usuario</label
            >
            @for (role of roleService.getRoles(); track role.key) {
            <section class="flex items-start">
              <article class="flex items-center py-1">
                <input
                  type="checkbox"
                  [checked]="user().role.includes(role.key)"
                  class="accent-secondary-500 w-4 h-4"
                />
              </article>
              <div class="ml-3 text-sm">
                <label [for]="role.key" class="font-medium cursor-pointer">{{
                  role.label
                }}</label>
              </div>
            </section>
            }
          </article>
        </section>
      </section>
    </section>

    <!-- BOTONES -->
    <section class="flex gap-4 w-full items-center justify-center">
      <button
        class="bg-secondary-500 hover:bg-secondary-600 text-text rounded p-2 w-30 font-semibold cursor-pointer transition ease-in"
      >
        Modificar
      </button>

      <button
        class="bg-error-500 hover:bg-error-300 text-text rounded p-2 w-30 font-semibold cursor-pointer"
        (click)="delete(user()._id)"
      >
        Eliminar
      </button>
    </section>
  </section>
  @if(showSuccess()) {
  <div
    role="alert"
    class="alert bg-success-700 text-text font-semibold flex items-center gap-2 mt-4 transition"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>Usuario eliminado correctamente!</span>
  </div>
  }
</main>
