<tr>
  <th
    class="px-6 py-3 text-left text-xs font-bold text-gray-400 uppercase tracking-wider"
  >
    Nombre y apellidos
  </th>
  <th
    class="px-6 py-3 text-left text-xs font-bold text-gray-400 uppercase tracking-wider"
  >
    CLUB
  </th>
  <th
    class="px-6 py-3 text-left text-xs font-bold text-gray-400 uppercase tracking-wider"
  >
    ESTADO
  </th>
  <th
    class="px-6 py-3 text-left text-xs font-bold text-gray-400 uppercase tracking-wider"
  >
    INSCRITO
  </th>
  <th class="px-6 py-3"></th>
</tr>
