<main
  class="fixed inset-0 flex flex-col items-center justify-center bg-black/50 z-50"
>
  <section
    class="bg-white dark:bg-gray-800 p-6 rounded-lg w-full max-w-md shadow-lg relative"
  >
    <!-- Botón cerrar -->
    <button
      (click)="close()"
      class="absolute top-4 right-4 text-gray-500 hover:text-gray-300 cursor-pointer"
      aria-label="Cerrar"
    >
      ✕
    </button>

    <h2 class="text-xl font-semibold mb-4 text-text dark:text-white">
      Introduce los datos del usuario
    </h2>

    <!-- FORM -->
    <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
      <section class="flex gap-4 mb-2">
        <article class="flex-1">
          <label
            for="email"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Correo electrónico</label
          >
          <input
            type="email"
            formControlName="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="Correo electrónico"
          />
        </article>

        <article class="flex-1">
          <label
            for="phone"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Fecha de nacimiento</label
          >
          <input
            type="date"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
            formControlName="birth_date"
          />
        </article>
      </section>

      <!-- FILA 2 -->
      <section class="flex gap-4 mb-2">
        <article class="flex-1">
          <label
            for="name"
            class="block mb-1 text-sm font-medium text-gray-900 dark:text-white"
            >Nombre</label
          >
          <input
            type="text"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="Alfonso"
            formControlName="name"
          />
        </article>
        <article class="flex-1">
          <label
            for="lastName"
            class="block mb-1 text-sm font-medium text-text dark:text-white"
            >Apellidos</label
          >
          <input
            type="text"
            id="lastName"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="Ramírez Mestanza"
            formControlName="lastName"
          />
        </article>
      </section>

      <!-- FILA 3 -->
      <section class="flex gap-4 mb-2">
        <article class="flex-1">
          <label
            for="phone"
            class="block mb-1 text-sm font-medium text-text dark:text-white"
            >Teléfono</label
          >
          <input
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="683945049"
            formControlName="phone"
          />
        </article>

        <article class="flex-1">
          <label
            for="dni"
            class="block mb-1 text-sm font-medium text-text dark:text-white"
            >DNI</label
          >
          <input
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            placeholder="19228170D"
            formControlName="dni"
          />
        </article>
      </section>

      <!-- FILA 4 -->
      <section class="flex gap-4 mb-2">
        <article class="flex-1">
          <label
            for="role"
            class="block text-sm font-medium text-gray-900 dark:text-white mb-1"
            >Tipo de usuario</label
          >
          @for (item of roleService.getRoles(); track item.key) {
          <section class="flex items-start">
            <article class="flex items-center h-5">
              <input
                type="checkbox"
                class="w-4 h-4 cursor-pointer"
                [id]="item.key"
                [value]="item.key"
                (change)="onRoleSelected($event, item.key)"
              />
            </article>
            <div class="ml-3 text-sm">
              <label
                [for]="item.key"
                class="text-gray-500 font-medium dark:text-gray-300 cursor-pointer"
                >{{ item.label }}</label
              >
            </div>
          </section>
          }
        </article>

        <article class="flex-1">
          <label
            for="gender"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Género</label
          >
          <select
            formControlName="gender"
            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
          >
            <option value="">Selecciona tu género</option>
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
        </article>
      </section>

      @if (hasError()) {
      <article class="flex justify-center items-center">
        <p class="text-error-500">{{ errorMessage }}</p>
      </article>
      }

      <button
        type="submit"
        class="bg-secondary-500 text-text font-medium px-4 py-2 rounded-lg w-full mt-2 cursor-pointer"
      >
        Crear usuario
      </button>
    </form>
  </section>
  @if(showSuccess()) {
  <div
    role="alert"
    class="alert bg-success-700 text-text font-semibold flex items-center gap-2 mt-4 transition"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>Usuario creado correctamente!</span>
  </div>
  }
</main>
