<section
  class="bg-white rounded-xl shadow-md p-5 border border-gray-200 relative w-full"
>
  <!-- Estado -->
  <span
    class="absolute top-5.5 right-4 bg-text text-white text-sm px-3 py-0.5 rounded-full font-semibold"
  >
    Activo
  </span>

  <!-- Encabezado -->
  <div class="flex items-start gap-4">
    <div
      class="w-12 h-12 rounded-full bg-gray-100 flex items-center justify-center text-2xl text-gray-500"
    >
      <img
        src="assets/images/user-default.avif"
        alt="User logo"
        class="rounded-full"
      />
    </div>
    <div>
      <h2 class="font-semibold text-lg text-gray-900">
        Alfonso Ramírez Mestanza
      </h2>
      <p class="text-sm text-gray-500">aramirezmes03gmail.com</p>
    </div>
  </div>

  <!-- Info adicional -->
  <div class="mt-4 space-y-1 text-sm text-gray-600">
    <div class="flex items-center gap-1">
      <img src="assets/icons/shield.svg" alt="Club Icon" class="w-4 h-4" />
      <p>PROJECT STRENGTH Torremolinos</p>
    </div>
    <div class="flex items-center gap-1">
      <img src="assets/icons/coach.svg" alt="Club Icon" class="w-4 h-4" />
      <p>Marc Ribera Gascón</p>
    </div>
    <div class="flex items-center gap-1">
      <img src="assets/icons/competition.svg" alt="Club Icon" class="w-4 h-4" />
      <p>Masculino -93</p>
    </div>
    <div class="flex items-center gap-1">
      <img src="assets/icons/location.svg" alt="Club Icon" class="w-4 h-4" />
      <p>Villanueva del Arzobispo, Jaén, Andalucía</p>
    </div>
  </div>

  <!-- Métricas -->
  <div class="flex gap-4 mt-4">
    <div
      class="flex-1 flex flex-col bg-pink-100 rounded-lg p-3 text-center items-center"
    >
      <p class="text-pink-600 font-bold text-xl">240</p>
      <p class="text-sm text-gray-600">Sentadilla</p>
    </div>
    <div
      class="flex-1 flex flex-col bg-pink-100 rounded-lg p-3 text-center items-center"
    >
      <p class="text-pink-600 font-bold text-xl">150</p>
      <p class="text-sm text-gray-600">Press banca</p>
    </div>
    <div
      class="flex-1 flex flex-col bg-pink-100 rounded-lg p-3 text-center items-center"
    >
      <p class="text-pink-600 font-bold text-xl">260</p>
      <p class="text-sm text-gray-600">Peso muerto</p>
    </div>
  </div>
  <div class="flex gap-4 mt-4">
    <div
      class="flex-1 flex flex-col bg-blue-100 rounded-lg p-3 text-center items-center"
    >
      <img
        src="assets/icons/up-total.svg"
        alt="Total Icon"
        class="w-6 items-center"
      />
      <p class="text-blue-600 font-bold text-xl">650</p>
      <p class="text-sm text-gray-600">Mejor total</p>
    </div>
    <div
      class="flex-1 flex flex-col bg-green-100 rounded-lg p-3 text-center items-center"
    >
      <img
        src="assets/icons/trophy.svg"
        alt="Trophy Icon"
        class="w-6 items-center"
      />

      <p class="text-green-600 font-bold text-xl">6</p>
      <p class="text-sm text-gray-600">Competiciones</p>
    </div>
  </div>

  <!-- Última actividad -->
  <section
    class="border-t mt-4 pt-2 text-xs text-gray-500 flex items-center gap-2"
  >
    <img
      src="assets/icons/calendar.svg"
      alt="Last Activity Icon"
      class="w-5 h-4.5"
    />
    <p class="leading-none">Última actividad: 2 días</p>
  </section>
</section>
