<section id="logo" class="mt-4 px-6">
  <h1 class="text-lg md:text-2xl font-bold text-white">
    Power<span class="text-secondary-500">Core</span>.
  </h1>
  <hr class="text-secondary-500 mt-1 h-4 border-t-2 border-secondary-500" />
</section>

<section id="profile" class="px-6 py-10">
  <p class="text-slate-400 mb-1">Bienvenido de nuevo,</p>
  <a href="#" class="inline-flex space-x-2 items-center">
    <span>
      <img
        class="rounded-full w-8 h-8"
        src="https://media.licdn.com/dms/image/v2/D4D03AQFhuhrZlDIaMw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1709923003122?e=2147483647&v=beta&t=2jr_lHiokJJR4Q67ygH_E7mMWEp09AsnEVKOHhMFbYk"
        alt="Admin Image"
      />
    </span>
    <span class="text-sm md:text-base font-bold"> Alfonso Ramírez </span>
  </a>
</section>
