<section id="nav" class="w-full px-4">
  @for (item of menuOptions; track item.route; let i = $index) {
  <a
    [routerLink]="item.route"
    routerLinkActive="bg-secondary-500"
    #rla="routerLinkActive"
    class="w-full px-2 inline-flex space-x-2 items-center rounded-xl py-3 hover:bg-secondary-50/20 transition ease-linear duration-150"
    [class]="{
      'hover:bg-secondary-50/20': !rla.isActive
    }"
  >
    <div>
      <img
        [src]="item.icon + (rla.isActive ? '.svg' : '-inactive.svg')"
        [alt]="item.label + ' Icon'"
        class="w-6 h-6"
      />
    </div>
    <div class="flex flex-col">
      <span
        class="text-l font-bold"
        [class]="rla.isActive ? 'text-text' : 'text-slate-50'"
        >{{ item.label }}</span
      >
    </div>
  </a>
  @if(i < menuOptions.length - 1) {
  <hr class="text-secondary-500 my-1 border-t-1 border-secondary-500" />
  } }
</section>
