<nav class="flex text-slate-400 text-sm mb-6" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    @for (crumb of breadcrumbs; track crumb.route; let last = $last) {
    <li class="inline-flex items-center hover:cursor-pointer">
      <a class="inline-flex items-center"> Dashboard </a>
    </li>
    <a>/</a>
    <li class="inline-flex items-center">
      <a [routerLink]="crumb.route" [class.text-text]="last">{{
        crumb.label
      }}</a>
      @if (!last) {
      <span class="mx-2">/</span>
      }
    </li>
    }
  </ol>
</nav>
