<h1
  class="mb-4 font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
>
  Crea una cuenta
</h1>
<form
  class="space-y-4 md:space-y-6"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <!-- FILA 1 -->
  <section class="flex gap-4">
    <article class="flex-1/4">
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Correo electrónico</label
      >
      <input
        type="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
        placeholder="alfonso@gmail.com"
        formControlName="email"
      />
    </article>
    <article class="flex-1">
      <label
        for="gender"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Género</label
      >
      <select
        formControlName="gender"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
      >
        <option value="">Selecciona tu Genero</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
    </article>

    <article class="flex-1">
      <label
        for="birthdate"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Fecha de nacimiento</label
      >
      <input
        type="date"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
        formControlName="birth_date"
      />
    </article>
  </section>

  <!-- FILA 2 -->
  <section class="flex gap-4">
    <article class="flex-1">
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Nombre</label
      >
      <input
        type="text"
        id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
        placeholder="Alfonso"
        formControlName="name"
      />
    </article>

    <article class="flex-1">
      <label
        for="lastName"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Apellidos</label
      >
      <input
        type="text"
        id="lastName"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
        placeholder="Ramírez Mestanza"
        formControlName="last_name"
      />
    </article>

    <article class="flex-1">
      <label
        for="dni"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >DNI</label
      >
      <input
        type="text"
        placeholder="40394576K"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
        formControlName="dni"
      />
    </article>
  </section>

  <!-- FILA 3 -->
  <section class="flex gap-4">
    <article class="flex-1">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Contraseña</label
      >
      <input
        type="password"
        placeholder="••••••••"
        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
        formControlName="password"
      />
    </article>
    <article class="flex-1">
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Confirmar contraseña</label
      >
      <input
        type="password"
        placeholder="••••••••"
        class="bg-gray-50 border border-neutral-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
        formControlName="confirmPassword"
      />
    </article>

    <article class="flex-1">
      <label
        for="phone"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Teléfono</label
      >
      <input
        type="tel"
        placeholder="689347568"
        class="bg-gray-50 border border-neutral-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
        formControlName="phone"
      />
    </article>
  </section>

  <section class="flex gap-4">
    <article class="flex-1">
      <label
        for="avatar"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Avatar</label
      >
      <input
        (change)="onAvatarSelected($event)"
        type="file"
        id="avatar"
        name="avatar"
        accept="image/*"
        class="cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-secondary-500"
      />
    </article>
  </section>

  <button
    type="submit"
    class="w-full cursor-pointer text-text text-md font-medium bg-secondary-500 hover:bg-secondary-600 rounded-lg px-5 py-2.5 text-center dark:bg-secondary-500 dark:hover:bg-secondary-700 dark:focus:ring-secondary-800"
  >
    Registrarse
  </button>
  @if (hasError()) {
  <p class="text-error-500 text-center">{{ errorMessage }}</p>
  }
  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
    ¿Ya tienes cuenta?
    <a
      routerLink="'/auth/login'"
      class="font-medium text-primary-600 dark:text-primary-200 underline cursor-pointer"
      >Inicia sesión</a
    >
  </p>
</form>
